<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block title %}
    <title>
        {% if title %}GLH - {{ title }}
        {% else %}Learning Helper
        {% endif %}
    </title>
    {% endblock %}
    {% block style_block %}{% endblock %}
</head>

<body>
    <div class="navbar">
        <nav>
            <span style="padding-right: 25px;">
                <a href="{{ url_for('main.index') }}">Main page</a>
            </span>
            <span style="padding-right: 25px;">
                <a href="{{ url_for('vocab.dictionary', noun='y', phrase='y', misc='y') }}">Dictionary</a>
            </span>
        </nav>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
</body>

</html>