<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block title %}
    <title>
        {% if title %}German Learning Helper - {{ title }}
        {% else %}German Learning Helper
        {% endif %}
    </title>
    {% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
</body>

</html>