{% extends "base.html" %}
{% block app_content %}
<h1>Dictionary</h1>
<hr>
<table>
    <tr>
        <th style="text-align: left;">Entry</th>
        <th style="text-align: left;">Translation</th>
        <th style="text-align: left;">Base (nouns only)</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry["entry"] }}</td>
        <td>{{ entry["translation"] }}</td>
        <td>{{ entry["base"] }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<span><a href="{{ first_url }}">First</a></span>
{% if prev_url %}
<span><a href="{{ prev_url }}"><<</a></span>
{% else %}
<span><a href="#"><strike><<</strike></a></span>
{% endif %}
{% if next_url %}
<span><a href="{{ next_url }}">>></a></span>
{% else %}
<span><a href="#"><strike>>></strike></a></span>
{% endif %}
<span><a href="{{ last_url }}">Last</a></span>
{% endblock %}